body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 980px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left {
    padding-right: 30px;
    margin-top: -180px;
}

.fbhead {
    color: rgba(0, 60, 255, 0.808);
    font-size: 3.6rem;
}
.left_p {
    font-size: 1.8rem;
    margin-top: -40px;
    color: rgb(22, 22, 22);
}