body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* .parent .child:not(.exclude) */

.container {
    display: flex;
    max-width: 980px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left {
    padding-right: 30px;
    margin-top: -180px;
}

.fbhead {
    color: rgba(0, 60, 255, 0.808);
    font-size: 3.6rem;
}
.left_p {
    font-size: 1.8rem;
    margin-top: -40px;
    color: rgb(22, 22, 22);
}

.right {
    /* border: 1px solid red; */
    padding: 50px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    margin-top: -50px;
}

input, button {
    height: 3rem;
    display: block;
    width: 100%;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 6px;
    margin-bottom: 10px;
}

.btnlogin {
    background-color: rgba(0, 60, 255, 0.808);
    color: white;
    font-size: 1.4rem;
}

.newaccountbtn {
    background-color: rgb(23, 189, 23);
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    border: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

input::placeholder {
    color: rgb(78, 78, 78);
    font-size: 1rem;
    padding: 5px;
}

.forgotlink {
    font-size: 0.9rem;
    font-style: normal;
    text-decoration: none;
}

.footer {
    display: block;
    position: absolute;
    top: 74%;
    left: 59%;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.none {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nodecor {
    text-decoration: none;
    color: white;
}