body {
    background-color: #f0f2f5;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.underlineless {
    color: blue;
    text-decoration: none;
}

h3 {
    text-align: center;
}